<div class="container-fluid" >
  <div class="row pt-2 justify-content-center">
    <div class="col-4">
      <div class="d-flex justify-content-center">
        <span class="h1">Lab</span>
      </div>
    </div>
  </div>

  <div class="row pt-2 justify-content-center">
    <div class="col-4">
      <div class="d-flex justify-content-center">
        <p>
          Press 'Start Lab' for your chosen language
        </p>
      </div>
    </div>
  </div>

  <div class="row pt-2 justify-content-center">
    <div *ngFor="let language of languages" class="col-mt-4 d-flex align-items-stretch">
      <div class="card mt-4 maintenance-box">
        <div class="card-body d-flex flex-column">
          <div class="d-flex justify-content-center">
            <p class="mb-0">{{language.name}}</p>
          </div>
          <div class="mt-auto pt-3">
            <button type="button" (click)="onLanguageSelected(language.code)" class="btn btn-primary btn-sm">
              Start Lab
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
</div> <!-- container-fluid -->
