<section id="main-content" class="page08 code-examples">
	<section class="intro">
		<div class="inner">
			<div class="text">
				<h1>Knowledge Base</h1>
				<p>In depth information of attack surface and mitigations!</p>
			</div>
		</div>
	</section>
	<section class="wrapper">
		<div class="srcWrap">
			<div class="src">
				<input class="searchinput" [(ngModel)]="queryString" name="search" placeholder="Search vulnerability" />
				<i class="fa fa-search"></i>
			</div>
		</div>
		<div class="content-panel narrow">
			<ngb-alert *ngIf="error" [dismissible]="false">
				<strong>Warning! </strong> {{error}}
			</ngb-alert>
			<div class="row" *ngIf="knowledgeitems">
				<div class="col-lg-12">
					<ngb-accordion [closeOthers]="true" #acc="ngbAccordion">
						<div *ngFor="let knowledge of knowledgeitems | StartsWithPipe : queryString">
							<br/>
							<ngb-panel title="{{knowledge.title}}">
								<ng-template ngbPanelContent>
									<p>
										{{knowledge.content}}
									</p>
								</ng-template>
							</ngb-panel>
						</div>
					</ngb-accordion>
				</div>
			</div>
		</div>
	</section>
</section>