<div class="container-fluid">
  <ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
    <p class="loading">Loading, Please Wait...</p>
  </ngx-spinner>
  <!-- start page title -->
  <div class="row mt-0 pt-0">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18 head-four">Training</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active text-primary clickable" (click)="goToTraining()">Training</li>
            <li *ngIf="profile" class="breadcrumb-item active text-primary clickable" (click)="goToProfile()">{{profile.name}}</li>
            <li class="breadcrumb-item active text-primary">{{course?.name}}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->
</div> <!-- container-fluid -->

<div *ngIf="course" class="row fill">
  <div class="tree-panel" [ngStyle]="{width: leftSideWidth}">
    <app-training-course-tree [course]="course" [userId]="userId">
    </app-training-course-tree>
  </div>
  <div class="right-side" #rightSide [ngStyle]="{width: rightSideWidth}">
    <div class="content-panel">
      <app-training-course-content [course]="course" [userId]="userId">
      </app-training-course-content>
    </div>
    <div class="buttons-panel">
      <app-training-course-buttons>
      </app-training-course-buttons>
    </div>
  </div>
</div>
