li.clickable {
  cursor: pointer;
}

div.fill {
  position: relative;
  height: calc(100vh - 70px - 60px - 60px - 85px);
  min-height: calc(100vh - 70px - 60px - 60px - 85px);

  div.tree-panel {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
  }

  div.content-panel {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 50px;
    width: 80%;
  }

  div.buttons-panel {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 50px;
  }
}
