<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18 head-four">Learning</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active text-primary">Learning</li>
            <li class="breadcrumb-item active text-primary">Course</li>
            <li class="breadcrumb-item active text-primary">{{course?.name}}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->
</div> <!-- container-fluid -->

<div class="row fill">
    Course Content here
</div>
