[report]
omit =
    *numpy*
    *scipy*
    *matplotlib*
    *PIL*
    *decimal*
    *Dialog*
    *FileDialog*
    *FixTk*
    *Tkconstants*
    *Tkinter*
    *calendar*
    *csv*
    *ctypes*
    *dateutil*
    *distutils*
    *Image*
    *ImageColor*
    *ImageFilter*
    *ImageMode*
    *ImagePalette*
    *numbers*
    *subprocess*