*.pyc
.DS_Store
Docker/alpine-cloud/k8s/configmaps.yaml
**/.__pycache__
**/.DS_Store
**/*.swp
**/.eggs
**/.cache
**/skf.*
**/build
export.csv
**/reports
**/dist
**/owasp_skf.egg-info/
*.code-workspace
.coverage
.vscode
**/skf/cover
skf/db.unittesting
Angular/node_modules
venv
lib
bin
bin64
include
venv
Docker/alpine-cloud/k8s/configmaps.yaml
Docker/alpine-cloud/k8s/SSO/configmaps.yaml
