*.pyc
.DS_Store
**/.__pycache__
**/.DS_Store
**/*.swp
**/.eggs
**/.cache
**/skf.*
**/build
*export*
**/reports
**/dist
**/owasp_skf.egg-info/
.coverage
.vscode
**/skf/cover
skf/db.unittesting
Angular/node_modules
venv
lib
bin
bin64
include
