*.pyc
**/.DS_Store
**/*.swp
**/build
**/reports
**/dist
**/owasp_skf.egg-info/
.coverage
skf/__pycache__/*
skf/checklist-security-report.docx
skf/function-security-report.docx
skf/logs/*
skf/skf.pyc
skf/test_skf.pyc
skf/server.crt
skf/server.key
