Flask==1.0.2;python_version>"2.7"
flask-cli==0.4.0;python_version>"2.7"
flask-restplus==0.12.1;python_version>"2.7"
flask-sqlalchemy==2.3.2;python_version>"2.7"
Flask-Bcrypt==0.7.1;python_version>"2.7"
Flask-cors==3.0.7;python_version>"2.7"
pyjwt==1.7.1;python_version>"2.7"
pytest==4.2.1;python_version>"2.7"
coverage==4.5.2;python_version>"2.7"
nltk==3.4;python_version>"2.7"
numpy==1.16.1;python_version>"2.7"
scipy==1.2.1;python_version>"2.7"
pandas==0.23.1;python_version>"2.7"
python-dateutil==2.8.0;python_version>"2.7"
pytz==2018.9;python_version>"2.7"
rake-nltk==1.0.4;python_version>"2.7"
scikit-learn==0.20.2;python_version>"2.7"
six==1.12.0;python_version>"2.7"
sklearn==0.0;python_version>"2.7"
requests==2.21.0;python_version>"2.7"
selenium==3.141.0;python_version>"2.7"
beautifulsoup4==4.7.1;python_version>"2.7"
bs4==0.0.1;python_version>"2.7"
google-api-python-client==1.7.9;python_version>"2.7"
google-auth==1.6.3;python_version>"2.7"
google-auth-httplib2==0.0.3;python_version>"2.7"
request==2019.4.13;python_version>"2.7"
requests==2.21.0;python_version>"2.7"
requests-unixsocket==0.1.5;python_version>"2.7"

coverage==4.5.2;python_version<="2.7"
Flask==1.0.2;python_version<="2.7"
flask-cli==0.4.0;python_version<="2.7"
Flask-Bcrypt==0.7.1;python_version<="2.7"
Flask-Cors==3.0.7;python_version<="2.7"
flask-restplus==0.12.1;python_version<="2.7"
Flask-SQLAlchemy==2.3.2;python_version<="2.7"
PyJWT==1.7.1;python_version<="2.7"
pytest==4.2.1;python_version<="2.7"
nltk==3.4;python_version<="2.7"
pandas==0.24.1;python_version<="2.7"
numpy==1.16.1;python_version<="2.7"
python-dateutil==2.8.0;python_version<="2.7"
scipy==1.2.1;python_version<="2.7"
pytz==2018.9;python_version<="2.7"
rake-nltk==1.0.4;python_version<="2.7"
scikit-learn==0.20.2;python_version<="2.7"
six==1.12.0;python_version<="2.7"
sklearn==0.0;python_version<="2.7"
requests==2.21.0;python_version<="2.7"
selenium==3.141.0;python_version<="2.7"
