flask==0.12.2;python_version>"2.7"
flask-restplus==0.10.1;python_version>"2.7"
flask-sqlalchemy==2.3.2;python_version>"2.7"
flask-bcrypt==0.7.1;python_version>"2.7"
flask-cors==3.0.3;python_version>"2.7"
pyjwt==1.5.3;python_version>"2.7"
pytest==3.3.2;python_version>"2.7"
coverage==4.4.2;python_version>"2.7"

coverage==4.5.1;python_version<="2.7"
Flask==0.12.2;python_version<="2.7"
Flask-Bcrypt==0.7.1;python_version<="2.7"
Flask-Cors==3.0.3;python_version<="2.7"
flask-restplus==0.10.1;python_version<="2.7"
Flask-SQLAlchemy==2.3.2;python_version<="2.7"
PyJWT==1.6.1;python_version<="2.7"
pytest==3.5.0;python_version<="2.7"

