
a#topnav-components.nav-link {
    color: #101F39;
    font-weight: 400;
    // font-size: 14px;
}

a#topnav-components.nav-link.active {
    color: #7C5FF4;
    border-bottom: 1px solid #7C5FF4;
}

#page-topbar {
    box-shadow: none;
    border-bottom: 1.72857px solid #EEEFF1;
}

// .active {
//     border-bottom: 

// }

