<!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
<!--main content start-->

<section id="main-content" class="page03 project-summary">
  <section class="intro">
    <div class="inner">
      <div class="text">
        <h1>All projects</h1>
        <p>View and add processing functions and checklists by clicking on a project name </p>
      </div>
      <button style="float:right;" (click)="open(content)" class="btn btn-default"><i class="fa fa-cog" aria-hidden="true"></i> Project configuration</button>
    </div>
  </section>
  <section class="wrapper" style="margin-top:0px;">
    <div class="row mt">
      <div class="col-lg-12">
        <div class="content-panel">
          <div *ngFor="let sprint of sprintResult" class="col-md-4">
            <div class="card">
              <div class="card-header padding-right">
                {{sprint.sprint_name}}, <span>{{sprint.sprint_items_total}}</span>
              </div>
              <div class="card-block">
                <ngb-tabset>
                  <ngb-tab>
                    <ng-template ngbTabTitle><b>Summary</b></ng-template>
                    <ng-template ngbTabContent>
                      <br/>
                      <p>
                        <span style="color:red">Open items:</span>

                        <ngb-progressbar type="danger" [value]=sprint.sprint_open [striped]="true" [max]=sprint.sprint_items_total [animated]="true"><i>{{sprint.sprint_open}}</i></ngb-progressbar>
                      </p>
                      <p>
                        <span style="color:#F39C12;">Accepted risks:</span>
                        <ngb-progressbar type="warning" [value]=sprint.sprint_accepted [striped]="true" [max]=sprint.sprint_items_total [animated]="true"><i>{{sprint.sprint_accepted}}</i></ngb-progressbar>
                      </p>
                      <p>
                        <span style="color:green">Closed items:</span>
                        <ngb-progressbar type="success" [value]=sprint.sprint_closed [striped]="true" [max]=sprint.sprint_items_total [animated]="true"><i>{{sprint.sprint_closed}}</i></ngb-progressbar>
                      </p>
                      <div style="text-align:center; padding-top:4%">
                        
                       
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle><b>Information</b></ng-template>
                    <ng-template ngbTabContent>
                      <br/>
                      <p><b>{{sprint.sprint_name}}</b></p>
                      <p> {{sprint.sprint_desc}} </p>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>
              <div class="card-footer text-muted text-center">
                  <div class="left">
                     <span class="msg-success" style="color:limegreen" *ngIf="sprint.sprint_sec_fail < 1">Audit has no failed items</span>
                  </div>
                  <div class="right">
                    <a class="btn btn-danger btn-xs" href="" [routerLink]="['/project-summary-audit',sprint.sprint_id]" ><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <span *ngIf="sprint.sprint_sec_fail > 0">Audit has failed items</span></a>
                    <button [routerLink]="['/project-summary',sprint.sprint_id]" class="btn btn-default btn-xs">View</button>
                  </div>
              </div>
            </div>
          </div>
          <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">Project configuration</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                   </button>
            </div>
            <div class="modal-body">
              <ngb-tabset>
                <ngb-tab>
                  <ng-template ngbTabTitle><b>Pre-development</b></ng-template>
                  <ng-template ngbTabContent>
                    <div class="inner">
                      <h4>Pre developement settings</h4>
                    </div>
                    <form #myForm="ngForm">
                      <table class="table table-striped table-advance table-hover">
                        <tbody>
                          <tr *ngFor="let questions of preDevelopment;">
                            <td>{{questions.question}}</td>
                            <td>
                              <select ngModel name="pre_dev_answer{{questions.id}}" class="form-control">
                             <option value="">No</option>
                               <option value="True">Yes</option>
                               <option value="False">N.A.</option>
                            </select>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <button type="button" class="btn btn-danger" style="float:right; margin-top:1.5%" (click)="c('Close click')"><i class="fa fa-times" aria-hidden="true"></i> Close</button>
                      <button class="btn btn-success" style="float:right; margin-top:1.5%; margin-right:2%;" (click)="updatePre(myForm)">Update</button>
                    </form>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle><b>Add a sprint</b></ng-template>
                  <ng-template ngbTabContent>
                    <div *ngIf="!steps">
                      <div class="inner">
                        <h4>Add a new sprint (Step 1)</h4>
                        <div *ngFor="let error of errors">
                          <ngb-alert [dismissible]="false">
                            <strong>Warning!</strong> {{error}}
                          </ngb-alert>
                        </div>
                      </div>
                      <form>
                        <div class="form-group">
                          <div class="wrap">
                            <label for="inputVersion" class="col-sm-2 control-label">Sprint name</label>
                            <div class="col-sm-10">
                              <input required [(ngModel)]="sprintName" type="text" class="form-control" id="inputVersion" name="sprintName" placeholder="">
                              <div class="wrap desc alert-info">
                                <div class="col-sm-10">Make it easy for your team to recognise.</div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="wrap">
                            <label for="inputDesc" class="col-sm-2 control-label">Sprint Description</label>
                            <div class="col-sm-10">
                              <textarea required class="form-control" [(ngModel)]="sprintDescription" name="sprintDescription" id="inputDesc" style="height: 90px;"
                                placeholder=""></textarea>
                              <div class="wrap desc alert-info">
                                <div class="col-sm-10">A short and sweet description of your sprint, will be shown in the sprint overview.</div>
                              </div>
                              <button type="button" class="btn btn-danger" style="float:right; margin-top:1.5%" (click)="c('Close click')"><i class="fa fa-times" aria-hidden="true"></i> Close</button>
                              <button class="btn btn-success" style="float:right; margin-top:1.5%; margin-right:2%;" (click)="newSprint()">Step 2</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div *ngIf="steps">
                      <div class="inner">
                        <h4>Add a sprint (Step 2)</h4>
                      </div>
                      <form #myForm="ngForm">
                        <table class="table table-striped table-advance table-hover">
                          <tbody>
                            <tr *ngFor="let questions of sprints;">
                              <td>{{questions.question}}</td>
                              <td>
                                <select ngModel name="sprint_answer{{questions.id}}" class="form-control">
                             <option value="">No</option>
                               <option value="True">Yes</option>
                               <option value="False">N.A.</option>
                            </select>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <button type="button" class="btn btn-danger" style="float:right; margin-top:1.5%" (click)="c('Close click')"><i class="fa fa-times" aria-hidden="true"></i> Close</button>
                        <button class="btn btn-success" style="float:right; margin-top:1.5%; margin-right:2%;" (click)="newSprintQuestions(myForm)">Save</button>
                      </form>
                    </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle><b>Development verification</b></ng-template>
                  <ng-template ngbTabContent>
                    <p>Because default values have been customized.</p>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
            <div class="modal-footer">

            </div>
          </ng-template>
        </div>
      </div>
      <!-- /col-lg-4 -->
    </div>
    <!-- /row -->
  </section>
  <!--/wrapper -->
</section>
<!-- /MAIN CONTENT -->