.container-fluid {
  // margin: 0;
  // padding: 0;
  height: 100vh;
}

.accordion {
  display: flex;
  color: #fff;
  height: 100%;

  .accordion-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5rem;
    // width: 10%;

    .action {
      color: #fff;
      display: block;
      position: relative;
      height: 100%;

      span {
        position: absolute;
        transform: rotate(270deg);
      }
    }

    .accordion-title {
      color: #fff;
      font-weight: 700;
      margin-bottom: 25px;
    }

    .accordion-description {
      font-weight: 500;
      margin-bottom: 50px;
    }
  }
}

.btn {
  color: #fff;
  background: #101f39;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  align-self: flex-start;
}

// slide colors

#developer {
  background-color: #7c5ff4;
}
#pentester {
  background-color: #f72585;
}
#training {
  background-color: #4cc9f0;
}
#checklist {
  background-color: #263be0;
}
