<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18 head-four">Dashboard</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Welcome to Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->
      <div class="row pt-5">
        <div class="col-lg-12 text-center">
          <div class="home-wrapper">
            <div class="mb-5">
              <p class="h1 heading-dark">Security Knowledge Framework</p>
            </div>
            <div class="container">
              <p class="intro">SKF is an expert system application that uses the OWASP (M)ASVS with detailed code examples (secure coding principles) 
                  to help developers getting the right security requirements and create applications that are secure by design.</p>
            </div>
            <div class="py-5">
              <button (click)="tour()" class="btn btn-primary btn-lg">Learn More</button>
             </div>
             
            <div class="row justify-content-center">
              <div class="col-md-3 d-flex align-items-stretch">
                <div joyrideStep="firstStep" title="Checklist" [stepContent]="checklistContent" class="card mt-4 maintenance-box">
                  <div class="card-body d-flex flex-column">
                    <i class="bx bx-list-check mb-4 h1 text-primary"></i>
                    <h5 class="font-size-15 text-uppercase">Checklist</h5>
                    <p class="text-muted mb-0">Show different checklists that you can select for reference material. Click on the security control in the checklist to show the correlated knowledge base item.</p>
                    <div class="mt-auto pt-3">
                      <button type="button" class="btn btn-light text-light btn-sm">Learn More</button>
                     </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex align-items-stretch">
                <div joyrideStep="secondStep" title="Knowledgebase" [stepContent]="knowledgebaseContent" class="card mt-4 maintenance-box">
                  <div class="card-body d-flex flex-column">
                    <i class="bx bx-book mb-4 h1 text-primary"></i>
                    <h5 class="font-size-15 text-uppercase">Knowledge Base</h5>
                    <p class="text-muted mb-0">All the information which is correlated throughout the project can be found here! Need specific information on the spot then search through the Knowledge base items.</p>
                    <div class="mt-auto pt-3">
                      <button type="button" class="btn btn-light text-light btn-sm">Learn More</button>
                     </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex align-items-stretch">
                <div joyrideStep="thirdStep" title="Code Examples" [stepContent]="codeContent" class="card mt-4 maintenance-box">
                  <div class="card-body d-flex flex-column">
                    <i class="bx bx-code-alt mb-4 h1 text-primary"></i>
                    <h5 class="font-size-15 text-uppercase">Code examples</h5>
                    <p class="text-muted mb-0">The code examples show how to approach some common functionalities and how to apply the secure coding principles! We have secure code examples in different languages for example; PHP, Python, Java and .NET</p>
                        <div class="mt-auto pt-3">
                          <button type="button" class="btn btn-light text-light btn-sm">Learn More</button>
                         </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex align-items-stretch">
                  <div joyrideStep="forthStep" title="SKF Labs" [stepContent]="labContent" class="card mt-4 maintenance-box">
                    <div class="card-body d-flex flex-column">
                      <i class="bx bxs-flask mb-4 h1 text-primary"></i>
                      <h5 class="font-size-15 text-uppercase">
                        SKF Labs</h5>
                      <p class="text-muted mb-0">We created in SKF Labs for Developers and security specialist to train their security testing skills. These labs re from basic to advanced and hard-core security issues. We also provided write-ups for the labs to teach the correct testing methodology.</p>
                          <div class="mt-auto pt-3">
                            <button type="button" class="btn btn-light text-light btn-sm">Learn More</button>
                           </div>
                        </div>
                  </div>
                </div>
            </div>
            <!-- end row -->
          </div>
        </div>
      </div>
</div> <!-- container-fluid -->

<ng-template #checklistContent>
  <div class="card p-0">
    <div class="card-body text-center px-0 mr-2 ml-2">
      <p>This is some content hnxdijcnadiujcndsjkvn sdkjvisbvbdsujnj</p>
    </div>
  </div>
</ng-template>

<ng-template #knowledgebaseContent>
  <div class="card p-0">
    <div class="card-body text-center px-0 mr-2 ml-2">
      <p>This is some content</p>
    </div>
  </div>
</ng-template>

<ng-template #codeContent>
  <div class="card p-0">
    <div class="card-body text-center px-0 mr-2 ml-2">
      <p>This is some content</p>
    </div>
  </div>
</ng-template>

<ng-template #labContent>
  <div class="card p-0">
    <div class="card-body text-center px-0 mr-2 ml-2">
      <p>This is some content</p>
    </div>
  </div>
</ng-template>