<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18 head-four">Dashboard</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Welcome to Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row pt-5">
      <div class="col-lg-12 text-center">
        <div class="home-wrapper">
          <div class="mb-5">
            <p class="h1 heading-dark"><strong>Security Knowledge Framework</strong></p>
          </div>
          <div class="container">
            <p class="intro">SKF is an expert system application that uses the OWASP (M)ASVS with detailed code examples (secure coding principles) 
                to help developers getting the right security requirements and create applications that are secure by design.</p>
          </div>
          <div class="py-5">
            <button type="button" class="btn btn-primary btn-lg">Learn More</button>
           </div>
           
          <div class="row justify-content-center">
            <div class="col-md-3 d-flex align-items-stretch">
              <div class="card mt-4 maintenance-box">
                <div class="card-body">
                  <i class="bx bx-broadcast mb-4 h1 text-primary"></i>
                  <h5 class="font-size-15 text-uppercase">Checklist</h5>
                  <p class="text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex align-items-stretch">
              <div class="card mt-4 maintenance-box">
                <div class="card-body">
                  <i class="bx bx-time-five mb-4 h1 text-primary"></i>
                  <h5 class="font-size-15 text-uppercase">Knowledge Base</h5>
                  <p class="text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex align-items-stretch">
              <div class="card mt-4 maintenance-box">
                <div class="card-body">
                  <i class="bx bx-envelope mb-4 h1 text-primary"></i>
                  <h5 class="font-size-15 text-uppercase">Code examples</h5>
                  <p class="text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<a href="mailto:no-reply@domain.com"
                      class="text-decoration-underline">no-reply@domain.com</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex align-items-stretch">
                <div class="card mt-4 maintenance-box">
                  <div class="card-body">
                    <i class="bx bx-envelope mb-4 h1 text-primary"></i>
                    <h5 class="font-size-15 text-uppercase">
                      SKF Labs</h5>
                    <p class="text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.. <a href="mailto:no-reply@domain.com"
                        class="text-decoration-underline">no-reply@domain.com</a></p>
                  </div>
                </div>
              </div>
          </div>
          <!-- end row -->
        </div>
      </div>
    </div>

</div> <!-- container-fluid -->