<div class="container-fluid">
  <app-page-title title="Labs" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-7">
              <div class="search-box mr-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input class="form-control" [(ngModel)]="queryString" id="search" name="search"
                    placeholder="Search Lab" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Lab'"/>
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-5">
              <div class="float-right">
                <div class="form-group">
                  <select class="form-control select2-search-disable" placeholder="Select" 
                  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Select'" [(ngModel)]="queryLabel">
                    <option value="" selected disabled>All labs</option>
                    <option value="SKF-labs">SKF-labs</option>
                    <option value="juice-shop">juice-shop</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive mt-3">
            <table class="table table-centered table-nowrap table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col" style="width: 50px;">
                    <div class="text-center">#</div>
                  </th>
                  <th scope="col" joyrideStep="firstStep" title="Lab Name" [stepContent]="nameContent">
                    <div class="text-center">Name</div>
                  </th>
                  <th scope="col" joyrideStep="secondStep" title="Lab Link" [stepContent]="labContent">
                    <div class="text-center">Lab</div>
                  </th>
                  <th scope="col">
                    <div class="text-center">Label</div>
                  </th>
                  <th scope="col" joyrideStep="thirdStep" title="Lab Level" [stepContent]="levelContent">
                    <div class="text-center">Level</div>
                  </th>
                  <th scope="col">
                    <div class="text-center">Status</div>
                  </th>
                  <th scope="col" joyrideStep="lastStep" title="Lab Writeup" [stepContent]="writeContent">
                    <div class="text-center">Write-up</div>
                  </th>
                  <th scope="col">
                    <div class="text-center">Action</div>
                  </th>
                </tr>
              </thead>
              <tbody
                *ngFor="let item of labData.items | stringfilter:queryString | labelfilter:queryLabel; let myIndex = index">
                <tr>
                  <td>
                    <div class="avatar-xs">
                      <span class="avatar-title rounded-circle">
                        <i class="bx bxs-flask"></i>
                      </span>
                    </div>
                  </td>
                  <td>
                    <h5 class="font-size-14 mt-2 text-center"><a href="javascript: void(0);"
                        class="text-dark">{{item.title}}</a></h5>
                  </td>
                  <td>
                    <div class="text-center"><a href="#" target="_blank">Click here</a></div>
                  </td>
                  <td>
                    <div class="text-center">{{item.label}}</div>
                  </td>
                  <td>
                    <div class="text-center">{{item.level}}</div>
                  </td>
                  <td>
                    <div class="text-center">
                      <a href="javascript: void(0);" class="badge badge-soft-success font-size-11 m-1">item.status</a>
                    </div>
                  </td>
                  <td>
                    <div class="text-center"><a href="{{item.link}}" target="_blank">Click here</a></div>
                  </td>
                  <td>
                    <ul class="list-inline mb-0 text-center">
                      <li class="list-inline-item">
                        <button class="btn btn-success btn-sm" id="get-address"
                          (click)="getLabAddress(item.image_tag)">Deploy</button>
                      </li>
                      <li class="list-inline-item">
                        <button type="button" class="btn btn-danger btn-sm">Stop</button>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #nameContent>
    <div class="card p-0">
      <div class="card-body text-center px-0 mr-2 ml-2">
        <p>This is some content hnxdijcnadiujcndsjkvn sdkjvisbvbdsujnj</p>
      </div>
    </div>
  </ng-template>
  
  <ng-template #labContent>
    <div class="card p-0">
      <div class="card-body text-center px-0 mr-2 ml-2">
        <p>This is some content</p>
      </div>
    </div>
  </ng-template>
  
  <ng-template #levelContent>
    <div class="card p-0">
      <div class="card-body text-center px-0 mr-2 ml-2">
        <p>This is some content</p>
      </div>
    </div>
  </ng-template>
  
  <ng-template #writeContent>
    <div class="card p-0">
      <div class="card-body text-center px-0 mr-2 ml-2">
        <p>This is some content</p>
      </div>
    </div>
  </ng-template>