<div class="container-fluid">

    <app-page-title title="Labs" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  
    <div class="row mt-3">
        <div class="col-lg-12">
  
            <!-- Content Body -->
  
            <div class="card">
                <div class="card-body">
                    <div class="row mb-5">
                        <div class="col-sm-4">
                          <div class="search-box mr-2 mb-2 d-inline-block">
                            <div class="position-relative">
                              <input type="text" class="form-control" placeholder="Search..."/>
                              <i class="bx bx-search-alt search-icon"></i>
                            </div>
                          </div>
                        </div>
                        <!-- end col-->
                      </div>
  
                      <div class="row">
                        <div *ngFor="let data of labData" class="col-xl-4 col-sm-6 mb-4">

                         
                            <div class="card borer border-light">
                              <div class="card-body">
                                <h5 class="mt-0 mb-4 text-primary"><i class="mdi mdi-flask mr-3"></i>{{data.text}}</h5>
                                <p class="card-text">{{data.subtext}}</p>
                              </div>
                              <div class="px-4 py-3 border-top">
                                <ul class="list-inline mb-0">
                                  <li class="list-inline-item mr-3">
                                   <a href="/labs/read"><button type="button" class="btn-sm btn-primary">Click here</button></a> 
                                  </li>
                                </ul>
                              </div>
                            </div>
                        

                          
                        </div>
                      </div>
                </div>
            </div>
           <!-- Content Body Ends-->
        </div>
    </div>
  </div>
  