<div class="container-fluid">

    <app-page-title title="Code examples" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="col-sm-8">
                        <h4 class="card-title text-primary">{{codeItem.title}}</h4>
                    </div>
                    <div class="card shadow-none border card-body mb-3">
                        <pre style="overflow-x: auto;white-space: pre-wrap;
                            white-space: -moz-pre-wrap;white-space: -pre-wrap;
                            white-space: -o-pre-wrap;word-wrap: break-word;
                            ">{{codeItem.content}}
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>