<div class="container-fluid">
  <app-page-title title="users" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card user-tab">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-7">
              <div class="search-box mr-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Search User"
                  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search User'"/>
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-5">
              <div class="text-right">
                <a type="button" href="/users/create" class="btn btn-primary mb-2 mr-2">
                   New users
                </a>
              </div>
            </div>
            <!-- end col-->
          </div>
          <div class="table-responsive">
            <table class="table table-centered table-nowrap">
              <thead class="thead-light">
                <tr>
                  <th>#</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Activated</th>
                  <th>Access</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let users of usersList.items ;let i = index;">
                  <td>{{users.id}}</td>
                  <td>{{users.username}}</td>
                  <td>
                    <p class="mb-0">{{users.email}}</p>
                  </td>
                  <td>
                    <span *ngIf="users.activated == 'True'" class="badge badge-success font-size-12 m-1">
                    Enabled
                    </span>
                    <span *ngIf="users.activated == 'False'" class="badge badge-danger font-size-12 m-1">
                    Disabled
                    </span>
                  </td>
                  <td>
                    <div class="dropdown" ngbDropdown>
                      <span class="badge badge-success font-size-12 m-1">
                        edit:read:manage:delete
                      </span>
                      <span *ngIf="users['deny']=='True'" class="badge badge-danger font-size-12 m-1">
                        edit:read:delete
                      </span>
                      <span *ngIf="users['pending']=='True'" class="badge badge-warning font-size-12 m-1">
                        edit:read
                      </span>
                      <span *ngIf="users['pending']=='True'" class="badge badge-info font-size-12 m-1">
                        read
                      </span>                      
                      <span type="button" class="badge badge-secondary font-size-12 m-1" ngbDropdownToggle>
                        <i class="bx bx-plus"></i>
                      </span>
                      <ul class="dropdown-menu" ngbDropdownMenu>
                        <a class="dropdown-item disabled" href="javascript: void(0);">Action</a>
                        <a class="dropdown-item text-success" href="javascript: void(0);">edit:read:manage:delete</a>
                        <a class="dropdown-item text-danger" href="javascript: void(0);">edit:read:delete</a>
                        <a class="dropdown-item text-warning" href="javascript: void(0);">edit:read</a>
                        <a class="dropdown-item text-info" href="javascript: void(0);">read</a>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <div class="dropdown" ngbDropdown placement="bottom-right">
                      <a href="javascript: void(0);" class="dropdown-toggle card-drop" data-toggle="dropdown"
                        ngbDropdownToggle aria-expanded="false">
                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                        <li>
                          <a href="/users/update" type="button" class="dropdown-item">
                            <i class="fas fa-pencil-alt text-success mr-1"></i>Edit</a>
                        </li>
                        <li>
                          <a type="button" (click)="centerModal(userDeleteModal)"  class="dropdown-item">
                            <i class="fas fa-trash-alt text-danger mr-1"></i>Delete</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>


<!-- Data Modal -->

<ng-template #userDeleteModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Delete User</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="delete">Type <b>'DELETE'</b> to delete the user</label>
        <input type="text" class="form-control" id="delete" placeholder="Type DELETE">
      </div>
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  </div>
</ng-template>