# Default server configuration
#

server {
	listen 8788 default_server;
    root /usr/share/nginx/html;
    charset utf-8;
	server_tokens off;
	server_name _; #by default localhost

	location / {
 		try_files $uri $uri/ /index.html =404;
		proxy_http_version 1.1;
	}
}
