//
// users.scss
//

.user-tab {
    background-color: $topnav-bg;
    margin-top: 50px;
}

.table thead th {
    color: $topnav-text;
    border-color: $topnav-text;
}

.table td {
    color: $topnav-text;
    border-color: $topbar-search-bg;
}

.custom-control-label::before {
    color: white;
    border-color: #8184B2;
    background-color: $topbar-search-bg;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: white;
    background-color: $topnav-text;
}

.search-box{
    .form-control{
        border-radius: 30px;
        padding-left: 40px;
        background-color: $topbar-search-bg;
        border-color: #8184B2;
        color: grey;
    }
    .search-icon{
        font-size: 16px;    
        position: absolute;
        left: 13px;
        top: 0;
        line-height: 38px;
    }
}

.page-link {
    color: white;
    border-color: black;
    background-color: $topnav-text;
}

.page-link:hover {
    color: white;
    border-color: black;
    background-color: $boxed-body-bg;
}

.page-item.active .page-link {
    color: white;
    border-color: black;
    background-color: $boxed-body-bg;
}

.page-item.disabled .page-link {
    color: white;
    border-color: black;
    background-color: $topnav-text;
}
