//
// view.scss
//



.knowledgebase-tabs{
    .nav-pills{
        .nav-link{
            margin-bottom: 24px;
            text-align: center;
            background-color: $card-bg;
            box-shadow: $box-shadow-sm;
            color: $topnav-text;

            &.active{
                background-color: $topnav-text;
                color: white;
            }
            .check-nav-icon{
                font-size: 36px;
            }
        }
    }
}

.code-example-tabs{
    .nav-pills{
        .nav-link{
            margin-bottom: 24px;
            text-align: center;
            background-color: $card-bg;
            box-shadow: $box-shadow-sm;
            color: $topnav-text;

            &.active{
                background-color: $topnav-text;
                color: white;
            }
            .check-nav-icon{
                font-size: 36px;
            }
        }
    }
}

.code-review-tabs{
    .nav-pills{
        .nav-link{
            height: 35px;
            text-align: center;
            background-color: $card-bg;
            box-shadow: $box-shadow-sm;
            color: $topnav-text;

            &.active{
                height: 35px;
                background-color: $topnav-text;
                color: white;
            }
            .check-nav-icon{
                font-size: 36px;
            }
        }
    }
}