<div class="container-fluid">
    <app-page-title title="users" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-5">Update Checklist</h4>
                    <form class="needs-validation" (ngSubmit)="validSubmit()" [formGroup]="validationform">
                        <div class="form-group row mb-4">
                            <label for="checkid" class="col-md-2 col-form-label">Checklist ID</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="checkid"
                                formControlName="checkid" placeholder="Checklist ID"
                                   [ngClass]="{'is-invalid': submit && form.checkid.errors}">
                                <div *ngIf="submit && form.checkid.errors" class="invalid-feedback">
                                <span *ngIf="form.checkid.errors.required">Required!</span>
                                <span *ngIf="form.checkid.errors.pattern">This value should be digits with dots.</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row mb-4">
                            <label for="checktitle" class="col-md-2 col-form-label">Checklist Title</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="checktitle"
                                formControlName="checktitle" placeholder="Checklist Title"
                                   [ngClass]="{'is-invalid': submit && form.checktitle.errors}">
                                <div *ngIf="submit && form.checktitle.errors" class="invalid-feedback">
                                <span *ngIf="form.checktitle.errors.required">Required!</span>
                                <span *ngIf="form.checktitle.errors.pattern">This value should be alphanumeric.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="status-input" class="col-md-2 col-form-label">Kb Item</label>
                            <div class="col-md-10">
                                <ng-select [items]="kbitem" placeholder="Select Something"></ng-select> <!--Replace kbitem with the data-->
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="status-input" class="col-md-2 col-form-label">Questionarie</label>
                            <div class="col-md-10">
                                <ng-select [items]="kbitem" placeholder="Select Something"></ng-select> <!--Replace kbitem with the data-->
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="status-input" class="col-md-2 col-form-label">Status</label>
                            <div class="col-md-10">
                                <ng-select [items]="kbitem" placeholder="Select Something"></ng-select> <!--Replace kbitem with the data-->
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label for="maturitylvl" class="col-md-2 col-form-label">Maturity Level</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="maturitylvl"
                                formControlName="maturitylvl" placeholder="Maturity Level"
                                   [ngClass]="{'is-invalid': submit && form.maturitylvl.errors}">
                                <div *ngIf="submit && form.maturitylvl.errors" class="invalid-feedback">
                                <span *ngIf="form.maturitylvl.errors.required">Required!</span>
                                <span *ngIf="form.maturitylvl.errors.pattern">This value should be digits with dots.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label for="cwe" class="col-md-2 col-form-label">CWE</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="cwe"
                                formControlName="cwe" placeholder="CWE"
                                   [ngClass]="{'is-invalid': submit && form.cwe.errors}">
                                <div *ngIf="submit && form.cwe.errors" class="invalid-feedback">
                                <span *ngIf="form.cwe.errors.required">Required!</span>
                                <span *ngIf="form.cwe.errors.pattern">This value should be digits with dots.</span>
                                </div>
                            </div>
                        </div>
                        
                        <button class="btn btn-danger float-right ml-3" type="submit">Cancel</button>
                        <button class="btn btn-success float-right" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>