<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18 head-four">Learning</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active text-primary">learning</li>
            <li class="breadcrumb-item active text-primary">profiles</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->
  <div class="row pt-5">
    <div class="col-lg-12 text-center">
      <div class="home-wrapper">
        <div class="mb-5">
          <p class="h1 heading-dark">Profiles</p>
        </div>
        <div class="container">
          <p class="intro">
            Below are the learning profiles you can enroll for
          </p>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-2 d-flex align-items-stretch">
            <div class="card mt-4 maintenance-box">
              <div class="card-body d-flex flex-column">
                <i class="bx bx-code-alt mb-4 h1 text-primary"></i>
                <p class="mb-0">This profile is dedicated for developers who want to learn secure
                  development. This course is based on the ASVS and the secure
                  coding principles to teach the best practices.</p>
                <div class="mt-auto pt-3">
                  <button type="button" routerLink="/training/learning" class="btn btn-primary btn-sm">Start secure development course</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-2 d-flex align-items-stretch">
            <div class="card mt-4 maintenance-box">
              <div class="card-body d-flex flex-column">
                <i class="bx bx-shield mb-4 h1 text-primary"></i>
                <p class="mb-0">This profile is dedicated for security pentesters who want to learn the the
                  basics and advanced techniques of penetration testing for Web/API
                  applications. This course is based on the OWASP WSTG and teach you
                  how to perform a good quality penetrationt test.</p>
                <div class="mt-auto pt-3">
                  <button type="button" routerLink="/training/learning" class="btn btn-primary btn-sm">Start hacking course</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-2 d-flex align-items-stretch">
            <div class="card mt-4 maintenance-box">
              <div class="card-body d-flex flex-column">
                <i class="bx bx-slider-alt mb-4 h1 text-primary"></i>
                <p class="mb-0">This profile is dedicated for Ops and Infra people who want to learn
                  about the server hardening and security best practices. This course is
                  based on the VulnHub materials and lessons to teach the best
                  practices for server configurations and hardening.</p>
                <div class="mt-auto pt-3">
                  <button type="button" routerLink="/training/learning" class="btn btn-primary btn-sm">Start Infra/Ops course</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- end row -->
      </div>
    </div>
  </div>
</div> <!-- container-fluid -->
