<div class="container-fluid">

    <app-page-title title="Code Examples" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row mt-3">
        <div class="col-lg-12">

            <!-- Content Body -->

            <div class="card">
                <div class="card-body">
                    <div class="float-right">
                        <div class="dropdown" ngbDropdown>
                            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-wallet mr-1"></i> <span
                                    class="d-none d-sm-inline-block" ngbDropdownToggle>Platforms<i
                                        class="mdi mdi-chevron-down"></i></span></button>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-md" ngbDropdownMenu>
                                
                                <a class="dropdown-item disabled">
                                    Choose any one
                                </a>
                                <a class="dropdown-item" href="javascript: void(0);">
                                    Web Application
                                </a>
                                <a class="dropdown-item" href="javascript: void(0);">
                                    Mobile Application
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-primary text-center" href="javascript: void(0);">
                                    Learn more
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4">
                          <div class="search-box mr-2 mb-2 d-inline-block">
                            <div class="position-relative">
                              <input type="text" class="form-control" placeholder="Search..."/>
                              <i class="bx bx-search-alt search-icon"></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-8">
                          <div class="text-sm-right">
                            <button type="button" class="btn btn-primary btn-rounded mb-2 mr-2">
                              <i class="mdi mdi-plus mr-1"></i> New Code
                            </button>
                          </div>
                        </div>
                        <!-- end col-->
                      </div>
                </div>
            </div>
           <!-- Content Body Ends-->

           
            
        </div>
    </div>
</div>