<div class="container-fluid">
    <app-page-title title="Checklists" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-5">Add Checklist</h4>
                    <form class="needs-validation" (ngSubmit)="validSubmit()" [formGroup]="validationform">
                      <div class="form-group">
                          <label for="formGroupTitleInput">Checklist Title</label>
                          <input type="text" class="form-control" id="formGroupTitleInput"
                              formControlName="title" placeholder="Checklist Title"
                              [ngClass]="{'is-invalid': submit && form.title.errors}">
                          <div *ngIf="submit && form.title.errors" class="invalid-feedback">
                              <span *ngIf="form.title.errors.required">Required!</span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="FormControlTextarea1">Description</label>
                          <textarea rows="10" class="form-control" id="formGroupTitleInput"
                          formControlName="description" placeholder="Checklist Description"
                          [ngClass]="{'is-invalid': submit && form.description.errors}"></textarea>
                          <div *ngIf="submit && form.description.errors" class="invalid-feedback">
                              <span *ngIf="form.description.errors.required">Required!</span>
                          </div>
                        </div>
                        <div class="form-group mb-4">
                          <label for="status-input">Status</label>
                          <select class="custom-select" id="status-input" formControlName="status"
                          placeholder="Checklist Status" [ngClass]="{'is-invalid': submit && form.status.errors}">
                            <option value="" >--Select--</option>
                            <option value="1">Activate</option>
                            <option value="2">Deactivate</option>
                          </select>
                            <div *ngIf="submit && form.title.errors" class="invalid-feedback">
                                <span *ngIf="form.title.errors.required">Required!</span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger float-right ml-3">Cancel</button>
                        <button type="submit" class="btn btn-success float-right">Submit</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>