// 
// _card.scss
// 

.card-body {
  box-shadow: $box-shadow;
  background-color: white;
}

.card-drop {
  color: $body-color;
}

.card-title {
  font-size: 15px;
  margin: 0 0 7px 0;
  font-weight: $font-weight-semibold;
}

.card-title-desc {
  color: $card-title-desc;
  margin-bottom: 24px;  
}

.card {
  .border-top {
    background-color: #ebebf4;
    border-top: 1px solid $topnav-text !important;
  }
}

