/* =============
   General
============= */

html {
  position: relative;
  min-height: 100%;
}

.h1,.h2,.h3,.h4,.h5,.h6,
h1,h2,h3,h4,h5,h6 {
  color: #656565;
}

.heading-dark {
  color: #656565;
}

.head-four {
  color: #8184B2;
}

a {
  text-decoration: none !important;
}

label {
  font-weight: 500;
}

.intro {
  color: grey;
}

.text-muted {
  color: grey !important;
}
// blockquote

.blockquote {
  padding: 10px 20px;
  border-left: 4px solid $gray-300;
}

.blockquote-reverse {
  border-left: 0;
  border-right: 4px solid $gray-300;
  text-align: right;
}

.breadcrumb-item {
  color: #8184B2;
}