
//Fonts
@import "custom/fonts/fonts";

//Core files
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "variables-dark";
@import "bootstrap-dark";
@import "./node_modules/bootstrap/scss/mixins.scss";

// Structure
@import "custom/structure/general";
@import "custom/structure/topbar";
@import "custom/structure/page-head";
@import "custom/structure/horizontal-nav";
//@import "custom/structure/footer";

// Pages
@import "custom/pages/users";
@import "custom/pages/read";

// custom scss
//  form wizard
aw-wizard {
    .steps-indicator{
        .label {
            color: $text-muted !important;
        }
        .current {
            .step-indicator{
                color: $primary !important;
                border-color: $primary !important;
            }
        }
    }
}