<div class="container-fluid">
    <app-page-title title="Search Results" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row mt-3">
        <div class="col-lg-12">

            <div class="card border shadow-sm">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-lg-12">
                            <div class="card border shadow-none">
                                <div class="card-header"><h5 class="mb-0">Search Result Title</h5></div>
                                <div class="card-body">
                                    <p>This is the content of the search result</p>
                                </div>
                                <div class="card-footer">{{routerURL}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>