// 
// _footer.scss
// 

.footer {
    bottom: 0;
    padding: 20px calc(#{$grid-gutter-width} / 2);
    position: fixed;
    right: 0;
    color: $footer-color;
    left: 250px;
    height: $footer-height;
    background-color: $footer-bg;
}
  
@media (max-width: 992px) {
    .footer {
        left: 0;
    }
}

body[data-layout="horizontal"] {
    .footer {
        left: 0 !important;
    }  
}