div.iframe-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;

  iframe.fill {
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
  }
}
