<div class="container-fluid">
  <ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
    <p class="loading">Loading, Please Wait...</p>
  </ngx-spinner>

  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box pb-0">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active text-primary clickable" (click)="goToTraining()">Training</li>
            <li class="breadcrumb-item active text-primary">{{profile?.name}}</li>
          </ol>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-lg-12">
      <div class="home-wrapper">
        <div class="mb-5">
            <p class="h1 heading-dark">{{ profile.name }}</p>
        </div>

        <ul class="course-list p-0">
          <li *ngFor="let course of profile?.courses??[]" class="course-list-item"> 
            <h1>{{ course.name }}</h1>
            <span class="label" [ngClass]="{
                               'label-l1': course.name.includes('Easy'),
                               'label-l2': course.name.includes('Competent'),
                               'label-l3': course.name.includes('Advanced')}">
                Training
            </span>
            <p id="chapter-label"></p>
            <!-- <div  -->
                <!-- class="box d-flex justify-content-between align-items-center shadow mb-3" -->
            <!--     [ngClass]="{ -->
            <!--             'border-l1': course.name.includes('Easy'),  -->
            <!--             'border-l2': course.name.includes('Competent'),  -->
            <!--             'border-l3': course.name.includes('Advanced')}"  -->
            <!--     > -->
            <!--     <p class="box-title">{{ course.name }}</p> -->
            <!--     <p  -->
            <!--         class="box-level"  -->
            <!--         [ngClass]="{ -->
            <!--             'easy': course.name.includes('Easy'),  -->
            <!--             'competent': course.name.includes('Competent'),  -->
            <!--             'advanced': course.name.includes('Advanced')}">Training -->
            <!--     </p> -->
            <!--     <p class="box-text">X Chapters</p> -->
            <!--     <p class="box-text">Xmin</p> -->
                <!-- <div class="progress"> -->
                <!--     <div class="progress-bar" aria-valuenow="25" style="width: 25%" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div> -->
                <!-- </div> -->
            <!--     <button type="button" (click)="onSelectCourse(course)" class="btn btn-dark">Start Course</button> -->
          </li>
        </ul>
        <!-- end row -->
      </div>
    </div>
  </div>
</div> <!-- container-fluid -->
