<div class="container-fluid">
  <!-- start page title -->
  <app-page-title title="Checklists" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->
  <a [routerLink]="['/checklists/view']" class="btn text-primary d-none d-sm-inline-block float-right btn-link ml-3"> <i class="mdi mdi-arrow-left mr-1"></i> go back</a>
  <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs nav-tabs-custom">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Config</a>
      <ng-template ngbNavContent>
        <div class="card mt-3 shadow-none">
          <div class="card-body pt-2">
            <form>
              <div class="row text-center">
                <div class="col-xl-12">
                  <div class="form-group mb-2">
                    <label class="float-left">Question:</label>
                    <select [(ngModel)]="selectedQuestion" [ngModelOptions]="{standalone: true}" (change)="
                      selectQuestionFromDropDown()" class="form-control select2-search-disable">
                      <option value="notDefinedValueDorSelect" selected>Select question</option>
                      <option *ngFor="let item of questionData.items" value="{{item.id}}">{{item.question}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card shadow-none mt-3">
          <div class="card-body pt-1">
            <div class="row">
              <div class="col-lg-6 align-items-stretch">
                <div class="card border shadow-none mb-3">
                  <div class="card-header py-2 bg-light">
                    <p class="card-title text-center text-dark mt-2">Checklist total (of not yet assigned requirements)
                    </p>
                  </div>
                  <div class="card-body">
                    <div *ngFor="let item of checklistData.items">
                      <button *ngIf="item.question_id == null" (click)="addChecklistCorrelation(item.id)"
                        class="btn btn-block mb-2 bg-light">
                        <div class="row">
                          <div class="col-10 text-left">
                            <b>{{item.checklist_items_checklist_id}}</b>
                            <p class="mt-2 mb-1">
                              This is some content
                            </p>
                          </div>
                          <div class="col-2">
                            <i class="bx bx-plus font-size-15 py-3 float-right"></i>
                          </div>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end col -->

              <div class="col-lg-6 align-items-stretch">
                <div class="card border shadow-none mb-3">
                  <div class="card-header py-2 bg-light">
                    <p class="card-title text-center text-dark mt-2">Checklist total (of assigned requirements)
                    </p>
                  </div>
                  <div class="card-body">
                    <div *ngFor="let item of correlationData.items">
                      <button class="btn btn-block mb-2 bg-light" (click)="removeChecklisCorrelation(item.id)">
                        <div class="row">
                          <div class="col-10 text-left">
                            <b>{{item.checklist_items_checklist_id}}</b>
                            <p class="mt-2 mb-1">
                              This is some content
                            </p>
                          </div>
                          <div class="col-2">
                            <i class="bx bx-minus font-size-15 py-3 float-right"></i>
                          </div>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </li>

    <li [ngbNavItem]="2">
      <a ngbNavLink>Requirements</a>
      <ng-template ngbNavContent>
        <div class="row mb-3 mt-4">
          <div class="col-lg-12">
            <div class="row mb-3">
              <div class="col-7">
                <p class="card-title">Manage Requirements</p>
              </div>
              <div class="col-5">
                <a type="button" routerLink="/checklists/add-requirement" class="btn btn-primary float-right mb-2">Add
                  requirement</a>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-centered table-nowrap table-hover">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">
                      <div class="text-center">Control</div>
                    </th>
                    <th scope="col">
                      <div class="text-center">Action</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of checklistData.items">
                    <td style="width: 60%">
                      <div class="mt-2">
                        <h6 class="text-dark">{{item.checklist_items_checklist_id}} {{item.checklist_items_content |slice:0:130}}...</h6>
                      </div>
                    </td>
                    <td style="width: 40%">
                      <ul class="list-inline mb-0 text-center">
                        <li class="list-inline-item">
                          <a type="button" [routerLink]="['/checklists/update-requirement', item.id]"
                            class="btn btn-success btn-sm">Update</a>
                        </li>
                        <li class="list-inline-item">
                          <button (click)="centerModal(controlDelete)" type="button"
                            class="btn btn-danger btn-sm ml-2">Delete</button>
                        </li>
                      </ul>
                    </td>

                    <!-- Deletion modal-->
                    <ng-template #controlDelete let-modal>
                      <div class="modal-header">
                        <h5 class="modal-title mt-0">Delete Requirement</h5>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <label for="delete">Type <b class="text-danger">DELETE</b> to delete the Requirement
                              item</label>
                            <input autocomplete="off" [(ngModel)]="delete" type="text" class="form-control" id="delete"
                              name="delete" placeholder="Type DELETE" onfocus="this.placeholder = ''"
                              onblur="this.placeholder = 'Type DELETE'">
                          </div>
                          <button (click)="deleteRequirement(item.id); modal.dismiss('Cross click')"
                            class="btn btn-danger">Delete</button>
                        </form>
                      </div>
                    </ng-template>
                    <!-- END Project Delete Modal -->

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end col-->
        </div>
      </ng-template>
    </li>

    <li [ngbNavItem]="3">
      <a ngbNavLink>Questionnaire</a>
      <ng-template ngbNavContent>
        <div class="row mb-3 mt-4">
          <div class="col-lg-12">
            <div class="row mb-3">
              <div class="col-7">
                <p class="card-title">Manage questionnaire</p>
              </div>
              <div class="col-5">
                <a type="button" routerLink="/checklists/question-create" class="btn btn-primary float-right mb-2">Add
                  Question</a>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-centered table-nowrap table-hover">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">
                      <div class="text-center">Name</div>
                    </th>
                    <th scope="col">
                      <div class="text-center">Action</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of questionData.items">
                    <td style="width: 60%">
                      <div class="mt-2">
                        <h6 class="text-dark">{{item.question}}</h6>
                      </div>
                    </td>
                    <td style="width: 40%">
                      <ul class="list-inline mb-0 text-center">
                        <li class="list-inline-item">
                          <a type="button" [routerLink]="['/checklists/question-update', item.id]"
                            class="btn btn-success btn-sm">Update</a>
                        </li>
                        <li class="list-inline-item">
                          <button (click)="centerModal(questionDelete)" type="button"
                            class="btn btn-danger btn-sm ml-2">Delete</button>
                        </li>
                      </ul>
                    </td>

                    <!-- Deletion modal-->
                    <ng-template #questionDelete let-modal>
                      <div class="modal-header">
                        <h5 class="modal-title mt-0">Delete Question</h5>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <label for="delete">Type <b class="text-danger">DELETE</b> to delete the question
                              item</label>
                            <input autocomplete="off" [(ngModel)]="delete" type="text" class="form-control" id="delete"
                              name="delete" placeholder="Type DELETE" onfocus="this.placeholder = ''"
                              onblur="this.placeholder = 'Type DELETE'">
                          </div>
                          <button (click)="deleteQuestion(item.id); modal.dismiss('Cross click')"
                            class="btn btn-danger">Delete</button>
                        </form>
                      </div>
                    </ng-template>
                    <!-- END Project Delete Modal -->

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end col-->
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="questionarie"></div>
</div>