<div class="container-fluid">
  <!-- start page title -->
  <app-page-title title="Checklists" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs nav-tabs-custom">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Config</a>
      <ng-template ngbNavContent>
        <div class="card mt-3 border shadow-sm">
          <div class="card-body pt-2">
            <form>
              <div class="row text-center">
                <div class="col-xl-10">
                  <div class="form-group mb-2">
                    <label class="float-left">Questionarie :</label>
                    <select class="form-control select2-search-disable">
                      <option value="#" selected>Content 1</option>
                      <option value="#">Content 2</option>
                    </select>
                  </div>
                </div>
                <div class="col-xl-2 mt-4 text-center">
                  <div class="btn-group mx-2 mt-2">
                    <button type="button" class="btn btn-sm btn-success">Add</button>
                  </div>
                  <div class="btn-group mx-2 mt-2">
                    <button type="button" class="btn btn-sm btn-warning">Update</button>
                  </div>
                  <div class="btn-group mx-2 mt-2">
                    <button type="button" class="btn btn-sm btn-danger">Delete</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="card shadow-sm mt-3">
          <div class="card-body pt-1">
            <div class="row">
              <div class="col-lg-6">
                <div class="card border shadow-none mt-3">
                  <div class="card-header p-2 bg-light">
                    <h4 class="card-title text-center mt-2">Checklist total (of not yet assinged requirements)</h4>
                  </div>
                  <div class="card-body">
                      <button class="btn btn-block mb-2 bg-light">
                        <div class="row">
                          <div class="col-10 text-left">
                            <b>1.0.0</b>
                            <p class="mt-2 mb-1">
                              This is some content
                            </p>
                          </div>
                          <div class="col-2">
                            <i class="bx bx-plus font-size-15 py-3 float-right"></i>
                          </div>
                        </div>
                      </button>
                  </div>
                </div>
              </div>
              <!-- end col -->

              <div class="col-lg-6">
                <div class="card border shadow-none mt-3">
                  <div class="card-header p-2 bg-light">
                    <h4 class="card-title text-center mt-2">Checklist total (of not yet assinged requirements)</h4>
                  </div>
                  <div class="card-body">
                    <button class="btn btn-block mb-2 bg-light">
                      <div class="row">
                        <div class="col-10 text-left">
                          <b>1.0.0</b>
                          <p class="mt-2 mb-1">
                            This is some content
                          </p>
                        </div>
                        <div class="col-2">
                          <i class="bx bx-plus font-size-15 py-3 float-right"></i>
                        </div>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </li>

    <li [ngbNavItem]="2">
      <a ngbNavLink>Checklists</a>
      <ng-template ngbNavContent>
        <div class="row mb-3 mt-4">
          <div class="col-7">
            <div class="search-box mb-2 d-inline-block">
              <div class="position-relative">
                <input type="text" class="form-control" placeholder="Search..." />
                <i class="bx bx-search-alt search-icon"></i>
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="text-sm-right">
              <button type="button" class="btn btn-primary btn-rounded mb-2 mr-2">
                <i class="mdi mdi-check mr-1"></i>Add Item</button>
            </div>
          </div>
          <!-- end col-->
        </div>
        <div class="row mb-3" *ngFor="let check of checkData; let i = index">
          <div class="col">
            <div class="card border shadow-none">
              <div class="card-body">
                <div class="row">
                  <div class="col-8">
                    <a type="button" class="btn" (click)="isCollapsed[i] = !isCollapsed[i]">
                      <h4 class="card-title mt-2">{{check.title}}</h4>
                    </a>
                  </div>
                  <div class="col-4">
                    <div class="text-right mt-2">
                      <button class="btn-sm btn-primary btn-md" type="button"
                        (click)="isCollapsed[i] = !isCollapsed[i]">
                        Click here
                      </button>
                    </div>
                  </div>
                </div>
                <div class="collapse" [ngbCollapse]="!isCollapsed[i]">
                  <table class="table table-centered table-nowrap table-hover">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col" style="width: 50px;">
                          <div class="text-center">Checklist ID</div>
                        </th>
                        <th scope="col">
                          <div class="text-center">Checklist Item</div>
                        </th>
                        <th scope="col">
                          <div class="text-center">Question</div>
                        </th>
                        <th scope="col">
                          <div class="text-center">KB Item</div>
                        </th>
                        <th scope="col">
                          <div class="text-center">Include Always</div>
                        </th>
                        <th scope="col">
                          <div class="text-center">CWE</div>
                        </th>
                        <th scope="col">
                          <div class="text-center">Maturity Level</div>
                        </th>
                        <th scope="col">
                          <div class="text-center">Edit</div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </li>

    <li [ngbNavItem]="3">
      <a ngbNavLink>Categories</a>
      <ng-template ngbNavContent>
        <div class="row mb-3 mt-4">
          <div class="col-lg-12">
            <div class="text-sm-right">
              <button type="button" class="btn btn-primary btn-rounded mb-2 mr-2">
                <i class="mdi mdi-check mr-1"></i>Add Category</button>
            </div>
            <div class="table-responsive">
              <table class="table table-centered table-nowrap table-hover">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">
                      <div class="text-center">Name</div>
                    </th>
                    <th scope="col">
                      <div class="text-center">Description</div>
                    </th>
                    <th scope="col">
                      <div class="text-center">Action</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="text-center mt-2">
                        <h5>Title</h5>
                      </div>
                    </td>
                    <td>
                      <div class="text-center mt-3">
                        <p>this is some content</p>
                      </div>
                    </td>
                    <td>
                      <ul class="list-inline mb-0 text-center">
                        <li class="list-inline-item">
                          <button class="btn btn-success btn-sm mr-2">Update</button>
                        </li>
                        <li class="list-inline-item">
                          <button type="button" class="btn btn-danger btn-sm ml-2">Delete</button>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end col-->
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="questionarie"></div>
</div>