"alg": "RS256",
"jwk-url": "https://keycloak.secureby.design:8443/realms/krakend/protocol/openid-connect/certs",
"issuer": "https://keycloak.secureby.design:8443/realms/krakend",
"disable_jwk_security": true,
"roles_key": "resource_access.krakend.roles",
"roles_key_is_nested": true