<div class="account-pages my-5 pt-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card overflow-hidden">
            <div class="bg-soft-primary">
              <div class="row">
                <div class="col-7">
                  <div class="text p-4">
                    <h5 class="text-primary">Welcome Back !</h5>
                    <p>Sign in to continue to Security Knowledge Framework.</p>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="card-body pt-0">
              <div>
                <a href="/" >
                  <div class="avatar-md profile-user-wid mb-4" >
                    <span class="avatar-title rounded-circle bg-light">
                      <img src="assets/images/" alt="" class="rounded-circle" height="34">
                    </span>
                  </div>
                </a>
              </div>
              <div class="p-2">
                <div class="text-center py-3 px-3">
                    <button id="openidbtn" class="btn btn-block btn-primary">Log in with OPENID connect</button>
                  </div>
              </div>
  
            </div>
          </div>
          <div class="mt-5 text-center">
            <p>Want to create new account ? <a type="button" (click)="onRegister()" href="javascript: void(0)" class="font-weight-medium text-primary"> Signup now</a></p>
            <p>© {{year}} <b>Security Knowledge Framework</b>.</p>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  