<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {{year}} © Security Knowledge Framework.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-right d-none d-sm-block">
                    SKF is part of:
                    <a href="https://owasp.org/www-project-security-knowledge-framework/">OWASP <img src="assets/images/owasp-logo.png" alt="SKF Logo" class="rounded-circle" height="25"></a>
                    and 
                    <a href="https://openssf.org">OSSF <img src="assets/images/ossf.png" alt="SKF Logo" class="rounded-circle" height="25"></a>
                </div>
            </div>
        </div>
    </div>
</footer>