<div class="container-fluid">

    <app-page-title title="Knowledgebase" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    
    
    <div class="row">
        <div class="col-xl-9">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-sm-4">
                          <h4 class="mb-4">Checklists Title</h4>
                        </div>
                        <div class="col-sm-8">
                          <div class="text-sm-right">
                              <div class="search-box mr-2 mb-2 d-inline-block">
                                  <div class="position-relative">
                                    <input type="text" class="form-control" placeholder="Search..."/>
                                    <i class="bx bx-search-alt search-icon"></i>
                                  </div>
                                </div>
                          </div>
                        </div>
                        <!-- end col-->
                    </div>
                    <div class="dropdown-divider mb-4"></div>
                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <!-- Content Body -->
                                        <div class="row mb-4">
                                         <div class="col">
                                                <div class="box media mb-2">
                                                  <div class="icon mr-3">
                                                    <i class="bx bx-book-content font-size-20 text-success"></i>
                                                  </div>
                                                  <div class="media-body">
                                                    <div class="row">
                                                      <div class="col-sm-4">
                                                        <h4 class="card-title">Title</h4>
                                                      </div>
                                                      <div class="col-sm-8 mb-3">
                                                        <div class="text-sm-right">
                                                          <a href="javascript:void(0)" data-toggle="collapse" (click)="isCollapsed = !isCollapsed">Read More</a>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <p class="text-muted">New common language will be more simple and regular than the existing
                                                      European
                                                      languages. It will be as simple as occidental.</p>
                                                  </div>
                                                </div>

                                                 <div class="collapse" [ngbCollapse]="isCollapsed">
                                                   <div class="card shadow-none border card-body mb-0">
                                                     Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                                     squid.
                                                     Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                                     proident.
                                                   </div>
                                                   <div class="row mt-4">
                                                      <div class="col-sm-6">
                                                        <a routerLink="/" class="btn text-muted d-none d-sm-inline-block btn-link">
                                                          <i class="mdi mdi-arrow-left mr-1"></i> Learn More</a>
                                                      </div> <!-- end col -->
                                                      <div class="col-sm-6">
                                                        <div class="text-sm-right">
                                                          <a routerLink="/" class="btn btn-success m-1">
                                                            <i class="mdi mdi-truck-fast mr-1"></i> Update </a>
                                                            <a routerLink="/" class="btn btn-danger m-1">
                                                              <i class="mdi mdi-truck-fast mr-1"></i> Delete </a>
                                                        </div>
                                                      </div> <!-- end col -->
                                                    </div>
                                                  <div class="dropdown-divider"></div>
                                                 </div>
                                               
                                           </div>
                                        </div>
                           <!-- Content Body Ends-->
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <!-- Content Body -->
                                        <div class="row mb-4">
                                         <div class="col">
                                                <div class="box media mb-2">
                                                  <div class="icon mr-3">
                                                    <i class="bx bx-book-content font-size-20 text-success"></i>
                                                  </div>
                                                  <div class="media-body">
                                                    <div class="row">
                                                      <div class="col-sm-4">
                                                        <h4 class="card-title">Title</h4>
                                                      </div>
                                                      <div class="col-sm-8">
                                                        <div class="text-sm-right">
                                                          <a href="javascript:void(0)" data-toggle="collapse" (click)="isCollapsed = !isCollapsed">Read More</a>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <p class="text-muted">New common language will be more simple and regular than the existing
                                                      European
                                                      languages. It will be as simple as occidental.</p>
                                                  </div>
                                                </div>

                                                 <div class="collapse" [ngbCollapse]="isCollapsed">
                                                   <div class="card shadow-none border card-body mb-0">
                                                     Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                                     squid.
                                                     Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                                     proident.
                                                   </div>
                                                   <div class="row mt-4">
                                                      <div class="col-sm-6">
                                                        <a routerLink="/" class="btn text-muted d-none d-sm-inline-block btn-link">
                                                          <i class="mdi mdi-arrow-left mr-1"></i> Learn More</a>
                                                      </div> <!-- end col -->
                                                      <div class="col-sm-6">
                                                        <div class="text-sm-right">
                                                          <a routerLink="/" class="btn btn-success m-1">
                                                            <i class="mdi mdi-truck-fast mr-1"></i> Update </a>
                                                            <a routerLink="/" class="btn btn-danger m-1">
                                                              <i class="mdi mdi-truck-fast mr-1"></i> Delete </a>
                                                        </div>
                                                      </div> <!-- end col -->
                                                    </div>
                                                  <div class="dropdown-divider"></div>
                                                 </div>
                                               
                                           </div>
                                        </div>
                           <!-- Content Body Ends-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 mt-4">
            <div class="card">
                <div class="card-body">
                    <label class="card-title">Checklists</label>
                    <div class="dropdown-divider mb-3"></div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="avatar-xs mr-3">
                            <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                                <i class="bx bx-check"></i>
                            </span>
                        </div>
                        <a href="javascript: void(0)" class="font-size-14 mb-0">Checklists Title</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>