<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18 head-four">Training</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active text-primary">Welcome to Training</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->
  <div class="row pt-5">
    <div class="col-lg-12 text-center">
      <div class="home-wrapper">
        <div class="mb-5">
          <p class="h1 heading-dark">Good to see you here!</p>
        </div>
        <div class="container">
          <p class="intro">
            What are we planning to do today?
          </p>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-2 d-flex align-items-stretch">
            <div class="card mt-4 maintenance-box">
              <div class="card-body d-flex flex-column">
                <i class="bx bx-list-ul mb-4 h1 text-primary"></i>
                <p class="mb-0">I want to code securely and get the right guide!</p>
                <div class="mt-auto pt-3">
                  <button type="button" routerLink="/code-example/view" class="btn btn-primary btn-sm">Start coding</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-2 d-flex align-items-stretch">
            <div class="card mt-4 maintenance-box">
              <div class="card-body d-flex flex-column">
                <i class="bx bx-slider-alt mb-4 h1 text-primary"></i>
                <p class="mb-0">I want to tailor SKF To fit our organization</p>
                <div class="mt-auto pt-3">
                  <button type="button" routerLink="/checklists/view" class="btn btn-primary btn-sm">Management</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-2 d-flex align-items-stretch">
            <div class="card mt-4 maintenance-box">
              <div class="card-body d-flex flex-column">
                <i class="bx bxs-flask mb-4 h1 text-primary"></i>
                <p class="mb-0">I want to go to the Learning Platform to train my skillsets</p>
                <div class="mt-auto pt-3">
                  <button type="button" routerLink="/knowledgebase/view" class="btn btn-primary btn-sm">Develop skills</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- end row -->
      </div>
    </div>
  </div>
</div> <!-- container-fluid -->
