<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18 head-four">Learning</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active text-primary">learning</li>
            <li class="breadcrumb-item active text-primary">profiles</li>
            <li class="breadcrumb-item active text-primary">...</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
