<div class="container-fluid">
    <app-page-title title="Checklists" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  
    <div class="row">
      <div *ngFor="let data of checkData" class="col-xl-4 col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="media">
              <div class="media-body overflow-hidden">
                <h5 class="text-truncate font-size-15">
                  <a href="javascript: void(0);" class="text">{{data.text}}</a>
                </h5>
                <p class="text-muted mb-4">{{data.subtext}}</p>
              </div>
            </div>
          </div>
          <div class="px-4 py-3 border-top">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <span class="badge badge-primary">Active</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="pagination pagination-rounded justify-content-center mt-2 mb-5">
          <li class="page-item disabled">
            <a href="javascript: void(0);" class="page-link">
              <i class="mdi mdi-chevron-left"></i>
            </a>
          </li>
          <li class="page-item">
            <a href="javascript: void(0);" class="page-link">1</a>
          </li>
          <li class="page-item active">
            <a href="javascript: void(0);" class="page-link">2</a>
          </li>
          <li class="page-item">
            <a href="javascript: void(0);" class="page-link">3</a>
          </li>
          <li class="page-item">
            <a href="javascript: void(0);" class="page-link">4</a>
          </li>
          <li class="page-item">
            <a href="javascript: void(0);" class="page-link">5</a>
          </li>
          <li class="page-item">
            <a href="javascript: void(0);" class="page-link">
              <i class="mdi mdi-chevron-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- end row -->
  </div>
  