
<div class="account-pages my-5 pt-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card overflow-hidden">
            <div class="bg-soft-primary">
              <div class="row">
                <div class="col-12">
                  <div class="text-center p-4">
                    <h5 class="text-dark">Welcome Back !</h5>
                    <p class="text-dark">Sign in to continue to <br> Security Knowledge Framework.</p>
                  </div>
                </div>
  
              </div>
            </div>
            <div class="card-body pt-0">
              <div>
                  <div class="avatar-md profile-user-wid mb-4">
                    <span class="avatar-title rounded-circle">
                      <img src="assets/images/logo.svg" alt="SKF Logo" class="rounded-circle" height="65">
                    </span>
                  </div>
              </div>  
                  <div class="mt-3">
                    <button (click)="onLogin()" class="btn btn-primary btn-block" type="submit">Login</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

